OpenTK_winforms_z02/bin/Debug/OpenTK.dll
.vs/OpenTK_lab_09/v17/.suo
OpenTK_winforms_z02/bin/Debug/OpenTK.GLControl.dll
OpenTK_winforms_z02/bin/Debug/OpenTK.GLControl.xml
OpenTK_winforms_z02/bin/Debug/OpenTK.xml
OpenTK_winforms_z02/bin/Debug/OpenTK_winforms_z02.exe
OpenTK_winforms_z02/bin/Debug/OpenTK_winforms_z02.exe.config
OpenTK_winforms_z02/bin/Debug/OpenTK_winforms_z02.pdb
OpenTK_winforms_z02/obj/Debug/.NETFramework,Version=v4.6.1.AssemblyAttributes.cs
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.csproj.AssemblyReference.cache
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.csproj.CopyComplete
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.csproj.GenerateResource.cache
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.csproj.SuggestedBindingRedirects.cache
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.exe
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.Form1.resources
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.pdb
OpenTK_winforms_z02/obj/Debug/OpenTK_winforms_z02.Properties.Resources.resources
.vs/OpenTK_lab_09/project-colors.json
